<form class="form" id="login" method="POST" action="/user/login">
  <input name="email" type="email" value="{{user.email}}" placeholder="Введите email">
  <input name="password" type="password" value="{{user.password}}" placeholder="Введите пароль">
  <button>Войти</button>
</form>