<form class="form" id="registration" method="POST" action="/user/registration">
  <input name="email" type="email" value="{{user.email}}" placeholder="Введите email">
  <input name="password" type="password" value="{{user.password}}" placeholder="Введите пароль">
  <input name="name" type="text" value="{{user.name}}" placeholder="Введите вашe имя">
  <button>Зарегистрироваться</button>
</form>